{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block title %}Welcome{% endblock %}
{% block body %}
    <h1>{{ settings.my_name}}</h1>
    <p>{{ settings.my_job}}</p>
    <div id="info">
        {{ settings.my_descripcion}}
    </div>
    <div id="social">
                {% for net in networks %}
                <a href="{{net.url}}" target="_blank">
                    {% thumbnail net.icon "50x50" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="imagen">
                    {% endthumbnail %}
                </a>
                {% endfor %}
    </div>
    <!-- <img src="{{ MEDIA_URL }}{{ settings.background}}" alt="imagen"/><br/>

    <img src="{% static 'img/fondo.jpg' %}" alt="imagen"/>
        -->
{% endblock %}
