{% load staticfiles %}
{% load thumbnail %}
<!DOCTYPE html>
<html>
<head lang="es">
    <meta charset="UTF-8">
    <title>{% block title %}Titulo {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>